dns:
  enable: true
  ipv6: true
  prefer-h3: true
  enhanced-mode: fake-ip
  cache-algorithm: arc
  fake-ip-range: 198.18.0.1/16
  fake-ip-filter:
    - "rule-set:fakeip-filter,trackerslist"
  nameserver:
    - https://223.5.5.5/dns-query#h3=true
    - https://101.101.101.101/dns-query
  # ip没法加no-resolve的话用下面的
  # default-nameserver:
  #   - 223.5.5.5
  #   - 119.29.29.29
  # proxy-server-nameserver:
  #   - 223.5.5.5
  #   - 119.29.29.29
  # direct-nameserver:
  #   - https://dns.alidns.com/dns-query#h3=true
  #   - https://doh.pub/dns-query
  #   - https://dns.twnic.tw/dns-query
  # direct-nameserver-follow-policy: true
  # nameserver:
  #   - https://dns.google/dns-query
  #   - https://cloudflare-dns.com/dns-query

rule-providers:
  fakeip-filter:
    type: http
    behavior: domain
    format: mrs
    url: "https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/fakeip-filter.mrs"
    interval: 86400

  trackerslist:
    type: http
    behavior: domain
    format: mrs
    url: "https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/trackerslist.mrs"
    interval: 86400

unified-delay: true
tcp-concurrent: true

profile:
  store-selected: true
  store-fake-ip: true

sniffer:
  enable: true
  sniff:
    HTTP:
      ports: [80, 8080-8880]
      override-destination: true
    TLS:
      ports: [443, 8443]
    QUIC:
      ports: [443, 8443]

geodata-mode: true
geo-auto-update: true
geo-update-interval: 24
geox-url:
  geoip: "https://cdn.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/geoip-lite.dat"
  geosite: "https://cdn.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/geosite.dat"
  mmdb: "https://cdn.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/country-lite.mmdb"
  asn: "https://cdn.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/GeoLite2-ASN.mmdb"
